/* chip list styles */
.chip-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --chipInnerGap: 6px 10px;
  --chipRadius: 30px;
  --chipGap: 0 8px 0 0;
  --chipFontColor: #fff;
  --chipFontSize: 12px;
  --chipBg: #24333d29;
  --chipActiveBg: #273f4e;
}

.chip-wrapper .chip-accordion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chip-wrapper .chip-accordion.active svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  fill: #24333d61;
  cursor: n-resize;
}

.chip-wrapper .chip-accordion svg {
  width: 10px;
  fill: #24333d;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  cursor: s-resize;
}

.chip {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
}

.chip .chip-item {
  position: relative;
  padding: var(--chipInnerGap);
  margin: var(--chipGap);
  font-size: var(--chipFontSize);
  font-weight: 400;
  text-transform: capitalize;
  background-color: var(--chipBg);
  border-radius: var(--chipRadius);
  color: var(--chipFontColor);
  cursor: pointer;
}

.chip .chip-item:last-child {
  margin-right: 0;
}

.chip .chip-item.active {
  background-color: var(--chipActiveBg);
  pointer-events: none;
}
